LamaczHasel/LamaczHaselClient/Service References/LHServiceRef/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/LamaczHasel/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8001/LamaczHasel/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Numerics" />
  <xs:complexType name="Package">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="alphabet" nillable="true" type="q1:ArrayOfchar" />
      <xs:element name="dictionaryFileCheckSum" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Numerics" name="firstIndex" type="q2:BigInteger" />
      <xs:element name="method" type="xs:unsignedByte" />
      <xs:element name="password" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="passwordsToCrack" nillable="true" type="q3:ArrayOfstring" />
      <xs:element name="sizePackage" type="xs:int" />
      <xs:element name="transformationFlags" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Package" nillable="true" type="tns:Package" />
  <xs:complexType name="ClientResponse">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="crackedPasswords" nillable="true" type="q4:ArrayOfKeyValueOfstringdouble" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Numerics" name="packageIndex" type="q5:BigInteger" />
      <xs:element name="processingTime" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientResponse" nillable="true" type="tns:ClientResponse" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element name="hash" nillable="true" type="xs:string" />
      <xs:element name="password" nillable="true" type="xs:string" />
      <xs:element name="processingTime" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>